<!-- Article List x4 -->

<div>
    <h2 class="text-white text-3xl">Em destaque</h2>

    <div class="container">
        <div class="my-5">
            <div class="grid grid-cols-4 align-middle gap-5">
                <ng-container *ngIf="articles$ | async as articles">
                    <div *ngFor="let article of articles">
                        <div class="py-5 text-cent">
                            <a [routerLink]="['/noticias', article.urlHandle]"><img [src]="article.hero" class="w-full mx-auto object-contain" [alt]="article.title"></a>
                            <div class="card-body flex flex-col text-center mt-4">
                                <h5 class="text-white">
                                    {{ article.title }}
                                </h5>
                                <!-- <p class="text-white">
                                    {{ article.summary }}
                                </p> -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>