<div class="text-center text-white">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <ng-container *ngIf="observableData$ | async as observableList">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="p-4">
                            <div class="flex items-center">
                                <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                            </div>
                        </th>
                        <ng-container *ngFor="let column of columns">
                            <th scope="col" class="px-6 py-3">
                                {{ column.label }}
                            </th>
                        </ng-container>
                        <th scope="col" class="px-6 py-3">
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let observableItem of observableList" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="w-4 p-4">
                            <div class="flex items-center">
                                <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <ng-container *ngFor="let column of columns; let first = first">
                            <td class="admin-data px-6 py-4" [class.admin-data]="first">
                                <!-- If the column is categories display title of the categories associated -->
                                <ng-container *ngIf="column.key === 'categories'">
                                    <span *ngFor="let category of observableItem[column.key]; let last = last">
                                        {{category.description}}{{ !last ? ', ' : ''}}
                                    </span>
                                </ng-container>

                                <!-- If the column is not categories normal column -->
                                <ng-container *ngIf="column.key !== 'categories'">
                                    {{ observableItem[column.key] }}
                                </ng-container>
                            </td>
                        </ng-container>
                       
                        <td class="flex items-center px-6 py-4 space-x-3">
                            <a (click)="onEdit(observableItem.id)" class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                            <a (click)="onDelete(observableItem.id)" class="cursor-pointer font-medium text-red-600 dark:text-red-500 hover:underline">Remover</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
    <div>
        <button [routerLink]="addLink" routerLinkActive="router-link-active" type="button" class="rounded-md bg-green-700 px-3 my-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">{{addButtonLabel}}</button>
    </div>
</div>
    